aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
Automat==0.8.0
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
constantly==15.1.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
multidict==4.7.4
nltk==3.4.5
Pillow==9.0.1
PyHamcrest==2.0.0
pytesseract==0.3.2
requests==2.22.0
requests-threads==0.1.1
six==1.14.0
soupsieve==1.9.5
Twisted==19.10.0
Unidecode==1.1.1
urllib3==1.25.8
yarl==1.4.2
zope.interface==4.7.1
